@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.nav-container {
  background-color: black;
  display: flex;
  flex-direction: row;
}

.email {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-top: 5px;
  margin-left: 100px;
}

.em {
  margin-left: 10px;
  color: white;
  margin-top: -5px;
}

.tele {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 5px;
}

.tw {
  color: white;
}

.con {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.fb {
  margin-left: 300px;
  margin-top: -5px;
}

.tw {
  margin-left: 5px;
  margin-top: -5px;
}

.gb {
  margin-top: -5px;
}

.bee {
  color: white;
  font-size: 25px;
  margin-left: 380px;
  margin-top: -27px;
  margin-right: 100px;
}

.wi {
  margin-left: 420px;
  margin-top: -77px;
  height: 20px;
}

.book {
  text-align: end;
  margin-top: -60px;
  margin-left: 350px;
}

.taba {
  background-color: #e33310;
  margin-left: 100px;

  text-align: center;
}

.ig {
  width: 100px;
  height: 50px;
  background-color: black;
  margin-left: 100px;
  margin-top: 15px;
}

.navb {
  color: white;
  display: flex;
  flex-direction: row;
}

.nav-link {
  color: white;
}

h2 {
  font-family: "Lato, Sans Serif";
}

h1 {
  font-family: "PT Sans Narrow, Sans Serif";
}

.our-background-image {
  background-size: cover;
  height: 100px;
}

.story-background {
  margin: 0;
  padding: 0;
  background-image: url("https://gdurl.com/LmTV");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.m {
  font-size: 100px;
  text-align: center;
  margin-left: 200px;
  margin-top: -20px;
}

.in-cont {
  display: flex;
  flex-direction: row;
}

.story-para {
  font-size: 10px;
  margin-bottom: 30px;
}

.story-head {
  font-family: "PT Sans Narrow, Sans Serif";
  font-size: 40px;
  margin-left: 500px;
  margin-top: 10px;
  color: red;
  margin-bottom: 10px;
}

.sp-img-con {
  margin-left: -150px;
  text-align: center;
}

.sp-img {
  margin-left: 400px;
  text-align: center;
}

.sign {
  height: 50px;
  height: 50px;
  width: 200px;
  margin-left: 500px;
  margin-top: -40px;
  margin-bottom: 20px;

}

.sp-pac-container {
  background-image: url("https://img.freepik.com/free-photo/top-view-tasty-meat-meal-rolled-with-cabbage-tomatoes-called-dolma-with-seasonings-dark-blue-desk_140725-58511.jpg?w=900&t=st=1693485747~exp=1693486347~hmac=d0f3e7bbcb3835eb916841596f39b351a4da499d563c26cbeeb353f3b708482d");
  /* filter: blur(8px); */
  /* Full height */
  /* -webkit-filter: blur(8px); */
  height: 100%;
  opacity: 0.9;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sp-pac {
  color: red;
  font-family: "PT Sans Narrow";
  font-size: 30px;
  margin-left: 100px;
  text-align: center;
  filter: none;
  margin-top: 10px;
}

.sp-img {
  text-align: center;
  filter: none;
  margin-left: 200px;
  margin-top: 10px;
}

.bg-text {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;

  text-align: center;
}

.menu-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.menu-text {
  color: red;
  font-family: "PT Sans Narrow";
  font-size: 50px;
  margin-left: 80px;
  text-align: center;
  filter: none;
  margin-top: 10px;
}

.menu-img {
  text-align: center;
  filter: none;
  margin-left: 500px;
  margin-top: 10px;
  width: 300px;
}

.order-button {
  border: 1px solid #e33310;
  background-color: white;
  color: #e33310;
  padding: 6px;
}

.btn-menu {
  display: flex;
  justify-content: center;
  margin-left: 50px;
}

.btn {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  color: lightslategray;
}

.btn-red {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  color: lightslategray;
  background-color: red;
  color: white;
}

.menu-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.me-cont {
  display: flex;
  flex-direction: row;
}

.m-img {
  border-radius: 50px;
  border: 5px solid lightgray;
}

.total-det {
  display: flex;
  flex-direction: row;
}

li {
  list-style-type: disc;
}

.list-menu {
  display: flex;
  flex-direction: row;
}

.table-container {
  background-image: url("https://gdurl.com/JN9Z");
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  height: 100%;
  opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.table-head {
  color: white;
  font-family: "PT Sans Narrow, Sans Serif";
  font-size: 50px;
  margin-top: 50px;
}

.table-btn {
  background-color: white;
  color: orange;
  width: 200px;
  padding: 10px;
  text-align: center;
  margin-left: 500px;
  height: 50px;
  margin-bottom: 70px;
  margin-top: 10px;
}

.j-zigzag {
  height: 124px;
  width: 100%;
  overflow: hidden;
  z-index: 99;
  margin-top: -124px;
  opacity: 5;
  background: linear-gradient(312deg, #ffffffe0 5px, #03030300 0) 0 5px,
    linear-gradient(49deg, #ffffff 5px, #ffffff00 0) 0 5px;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 20px 20px;
  display: flex;
}

.pac-conta {
  margin-left: 150px;
}

.chef-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.chef-card-details {
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
}

.chef-card-details img {
  width: 100%;
}

.our-chefs {
  min-height: 700px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.our-chefs-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 400px;
}

.chef-head {
  text-align: center;
  font-size: 20px;
  font-family: "Playball", cursive;
  color: orangered;
  padding: 50px 0px 0px 0px;
  margin-top: -40px;
  margin-left: 50px;

}

.pc-img {
  margin-top: 50px;
}

.our-chefs-header h1 {
  text-align: center;
  font-size: 60px;
  font-family: "Playball", cursive;
  color: orangered;
  padding: 50px 0px 0px 0px;
}

.our-chefs-header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding-bottom: 40px;
}

.chef-card-details h1 {
  font-size: 18px;
  color: #838383;
  text-align: center;
  padding: 20px 0px 10px 0px;
  font-family: Oswald, sans-serif;

}

.chef-card-details p {
  font-size: 15px;
  color: #838383;
  text-align: center;
  padding: 0px 12px;
}

.blog-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.blog-card img {
  width: 100%;
}

/* .blog-card {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
} */

.blog-card h1 {
  font-size: 30px;
  color: #393939;
  text-align: center;
  font-weight: 300;
  padding: 20px 0px 10px 0px;
  font-family: Oswald, sans-serif;
}

.blog-card hr {
  width: 85px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 3px !important;
  color: orangered;
  opacity: 5;
}

.blog-card {
  padding: 20px 10px;
  background-color: #fff;
  box-shadow: 0 1px 16px 0px #7b7676;
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
}

.date {
  margin-left: 40px;

}

.dash {
  margin-left: 10px;
  margin-right: 10px;
}

.blog-card-bottom {
  display: flex;
  /* justify-content: space-between; */
  padding: 10px 15px;
  flex-direction: row;
}

.bloag-header h1 {
  text-align: center;
  font-size: 60px;
  font-family: "Playball", cursive;
  color: orangered;
  padding: 50px 0px 0px 0px;
}

.bloag-header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding-bottom: 40px;
}

.blog {
  min-height: 850px;
  background-image: url("./images/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gal-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 100px;
}

.gallery-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.gallery-header h1 {
  text-align: center;
  font-size: 60px;
  font-family: "Playball", cursive;
  color: orangered;
  padding: 100px 0px 0px 0px;
  margin-left: 500px;
}

.gallery-header img {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-left: 500px;

}

.gallery {
  min-height: 300px;
}

.i-zigzag {
  background-image: url("https://img.freepik.com/free-photo/top-view-lemon-slices-sour-mellow-juicy-around-white-flowers-dark-floor_140725-13527.jpg?w=900&t=st=1693555311~exp=1693555911~hmac=84fbb6b98d0a61d25e90c7b951478e04e32fb837c1691169a98d937054ee4f91");
  height: 99px;
  width: 100%;
  overflow: hidden;
  z-index: 99;
  margin-top: -90px;
  opacity: 5;
  background: linear-gradient(139deg, #ffffffe0 5px, #03030300 0) 0 5px,
    linear-gradient(219deg, #ffffff 5px, #030303 0) 0 5px;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 20px 20px;
  display: flex;
  flex-direction: column;
}

.blog {
  background-image: url("https://img.freepik.com/free-photo/top-view-lemon-slices-sour-mellow-juicy-around-white-flowers-dark-floor_140725-13527.jpg?w=900&t=st=1693555311~exp=1693555911~hmac=84fbb6b98d0a61d25e90c7b951478e04e32fb837c1691169a98d937054ee4f91");
  opacity: 0.9;
  display: flex;
  flex-direction: column;
}

.bl-head {
  color: black;
}

.mm {
  font-size: 15px;
  padding: 5px 10px;
  color: orangered;
  /*  border-top: 3px solid orangered; */
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  padding-top: 10px;
  padding-right: 7%;
  margin-left: 250px;
  margin-top: -50px;
}

.bg-text {
  width: 350px;
}

.cup-text {
  font-size: 20px;
  margin-left: 20px;
}

.cup-cont {
  display: flex;
  flex-direction: column;
}

.me-cont {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.list-menu {
  margin-right: 40px;
}

.footer-bacground {
  background-image: url("https://gdurl.com/UOGk");
  display: flex;
  flex-direction: column;
}

.footer {
  background-image: url("https://gdurl.com/UOGk");
  display: flex;
  flex-direction: column;
}

.foot-img {
  margin-top: 100px;
  margin-left: 500px;
}

.f-head {
  color: white;
  font-size: 15px;

  margin-top: 40px;
  margin-left: 350px;
}

.f-bg {
  color: orangered;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 500px;
}

.d-f {
  color: orangered;
  display: flex;
  flex-direction: row;
}

.fat-s {
  display: flex;
  flex-direction: column;
}

.copyright-details {
  color: orangered;
  display: flex;
  flex-direction: row;

}

.copyright {
  display: flex;
  flex-direction: row;
}

.f {
  color: orangered;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

.whole {
  display: flex;
  flex-direction: column;
}

.p20 {
  margin-left: 300px;
  font-size: 16px;
}

.sc {
  margin-left: 250px;

}